page-waste {
    .alignRight {
        // text-align: right;
        position: absolute;
        font-size: 15px;
        font-style: italic;
        color:silver;
        bottom: -1;
        right: 0
      }
      ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
}
.ios{
	page-waste {
		.alignRight {
      // text-align: right;
      height: 12px !important;
      width: 120px !important;
      padding-right: 0px !important;
      margin-right: 0px !important;

      position: absolute;
      font-size: 12px;
      font-style: italic;
      color:silver;
      bottom: -7px;
      right: 1px;
      margin-top: 10px
    }
   
	}	
}
.md{
	page-waste {
    .alignRight {
      // text-align: right;
      position: absolute;
      font-size: 13px;
      font-style: italic;
      color:silver;
      bottom: -1;

      right: 0
    }
	}	
}