// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
        background-repeat:no-repeat;
        background-position:center;
        height:24px;
        width:24px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}

.tabs-ios {
    text-align: left;
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=fi], .tab-button-icon[aria-label="fi"] {
      background-image: url(../assets/imgs/fi_passive.png);
    }
    .tab-button-icon[ng-reflect-name=waste], .tab-button-icon[aria-label="waste"] {
        background-image: url(../assets/imgs/waste_passive.png);
      }
      .tab-button-icon[ng-reflect-name=maintenance], .tab-button-icon[aria-label="maintenance"] {
        background-image: url(../assets/imgs/maintenance_passive.png);
      }
      .tab-button-icon[ng-reflect-name=other], .tab-button-icon[aria-label="other"] {
        background-image: url(../assets/imgs/other_passive.png);
      }
  }
 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=fi], .tab-button-icon[aria-label=fi] {
      background-image: url(../assets/imgs/fi_active.png);
    }
    .tab-button-icon[ng-reflect-name=waste], .tab-button-icon[aria-label=waste] {
      background-image: url(../assets/imgs/waste_active.png);
    }
    .tab-button-icon[ng-reflect-name=maintenance], .tab-button-icon[aria-label=maintenance] {
      background-image: url(../assets/imgs/maintenance_active.png);
    }
    .tab-button-icon[ng-reflect-name=other], .tab-button-icon[aria-label=other] {
      background-image: url(../assets/imgs/other_active.png);
    }
  }
}

.tabs-md {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=fi], .tab-button-icon[aria-label="fi"] {
      background-image: url(../assets/imgs/fi_passive.png);
    }
    .tab-button-icon[ng-reflect-name=waste], .tab-button-icon[aria-label="waste"] {
        background-image: url(../assets/imgs/waste_passive.png);
      }
      .tab-button-icon[ng-reflect-name=maintenance], .tab-button-icon[aria-label="maintenance"] {
        background-image: url(../assets/imgs/maintenance_passive.png);
      }
      .tab-button-icon[ng-reflect-name=other], .tab-button-icon[aria-label="other"] {
        background-image: url(../assets/imgs/other_passive.png);
      }
  }

 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=fi], .tab-button-icon[aria-label=fi] {
      background-image: url(../assets/imgs/fi_active.png);
    }
    .tab-button-icon[ng-reflect-name=waste], .tab-button-icon[aria-label=waste] {
        background-image: url(../assets/imgs/waste_active.png);
      }
      .tab-button-icon[ng-reflect-name=maintenance], .tab-button-icon[aria-label=maintenance] {
        background-image: url(../assets/imgs/maintenance_active.png);
      }
      .tab-button-icon[ng-reflect-name=other], .tab-button-icon[aria-label=other] {
        background-image: url(../assets/imgs/other_active.png);
      }
  }
}

.tabs-wp {
  a[aria-selected=false]{
     .tab-button-icon[ng-reflect-name=fi], .tab-button-icon[aria-label="fi"] {
      background-image: url(../assets/imgs/fi_passive.png);
    }
    .tab-button-icon[ng-reflect-name=waste], .tab-button-icon[aria-label="waste"] {
        background-image: url(../assets/imgs/waste_passive.png);
      }
      .tab-button-icon[ng-reflect-name=maintenance], .tab-button-icon[aria-label="maintenance"] {
        background-image: url(../assets/imgs/maintenance_passive.png);
      }
      .tab-button-icon[ng-reflect-name=other], .tab-button-icon[aria-label="other"] {
        background-image: url(../assets/imgs/other_passive.png);
      }
  }

 a[aria-selected=true] {
   //führ eventuellen text
   //span {
      //color: #f00; //whatever colour you want to use for the text
    //}
    .tab-button-icon[ng-reflect-name=fi], .tab-button-icon[aria-label=fi] {
      background-image: url(../assets/imgs/fi_active.png);
    }
    .tab-button-icon[ng-reflect-name=waste], .tab-button-icon[aria-label=waste] {
        background-image: url(../assets/imgs/waste_active.png);
      }
      .tab-button-icon[ng-reflect-name=maintenance], .tab-button-icon[aria-label=maintenance] {
        background-image: url(../assets/imgs/maintenance_active.png);
      }
      .tab-button-icon[ng-reflect-name=other], .tab-button-icon[aria-label=other] {
        background-image: url(../assets/imgs/other_active.png);
      }
  }
}
.tabs-ios[tabsLayout=icon-hide] .tab-button,
.tabs-ios[tabsLayout=title-hide] .tab-button,
.tabs-ios .tab-button.icon-only,
.tabs-ios .tab-button.has-title-only {
    font-weight: 100 !important; 
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-text {
    -webkit-transform: none !important;
    font-size:12px;
    font-style: "bold";
  }
  .tabs-ios .tab-button[aria-selected=false] .tab-button-text {
    -webkit-transform: none !important;
    font-size:11px;
  }
