<!-- <ion-header>
  <ion-navbar color="primary">
    <ion-title>FI</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding>
  <span *ngIf="dashboardLoaderStatus==true">
    <ion-spinner item-start name="bubbles" size="large" type="brand" container="true"></ion-spinner>
  </span>
  <ion-slides centeredSlides="true" pager="true" autoHeight="false" *ngIf="dashboardLoaderStatus == false">
    <ion-slide>
        <ion-header>
            <ion-navbar color="primary">
              <ion-title color="primary">MTBF-21</ion-title>
              <ion-label class="alignRight">
                  {{dBoardProvider.tarihStr}}
                </ion-label>
            </ion-navbar>
          </ion-header>
      <bar-chart [barChartObj]="mtbf21Daily"></bar-chart>
      <bar-chart [barChartObj]="mtbf21MTD"></bar-chart>
    </ion-slide>
    <ion-slide>
        <ion-header>
            <ion-navbar color="primary">
              <ion-title color="primary">MTBF- 21&26</ion-title>
              <ion-label class="alignRight">
                  {{dBoardProvider.tarihStr}}
                </ion-label>
            </ion-navbar>
          </ion-header>
      <bar-chart [barChartObj]="mtbf2126Daily"></bar-chart>
      <bar-chart [barChartObj]="mtbf2126MTD"></bar-chart>
    </ion-slide>
  </ion-slides>
</ion-content>
